/*.pyc
/logs
/InternalFFTSpectraLogger/logs
/SpectraLogger/logs
/Data/
/InternalFFTSpectraLogger/*.pyc
*.pyc
/build/*
/dist/*
/PySignalHound.egg-info/*
/SpectraLogger/GPS-Testing/Drive acq/*
MANIFEST
/autodoc/t_build/doctrees
/autodoc/t_build/
